/*@import url("reset.css");*/

* {
  box-sizing: border-box;
}

body {
  /*text-align: center;*/
  line-height: 1.42857143;
}

header {
  background: #1C1C1C;
  padding: 20px 0 20px 100px ;
  border-bottom: 1px solid #272727;
  overflow: hidden;
}

header img {
  width: 50px;
  height: auto;
}

header h1 {
  float: left;
  padding-bottom: 20px;
}

nav {
  float: right;
  padding: 15px 100px 15px 0;
  background: #1C1C1C;
}

nav li {
  display: inline-block;
  padding: 0 20px;
}

nav li a{
  color: #ffffff;
  text-decoration: none;
}

.column {
  width: 1000px;
  margin: 0 auto;
}
 article {
  /*padding: 30px 200px;*/
  /*margin: 0 auto;*/
 }
#name {
  text-align: center;
}

 article img {
  display: block;
  margin: 0 auto;
 }

article .social_link {
  text-align: center;
  /*width: 300px;*/
  padding: 0;
}

article a, 
article a:visited {
  color: inherit;
}

article .social_link li {
  display: inline-block;
  padding: 0 12px;
}

article .fa {
  font-size: 2em;
  /*padding: 0 10px;*/
 }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.education{
  display: none;
 }

 #taiwan:hover .education,
 #japan:hover .education {
  display: block;
 }

 .project::before,
 .project::after {
  content: "";
  display: block;
  clear: both;
 }

.project .first,
.project .second,
.project .third {
  border: 1px solid #000;
}

 .project .first{
  float: left;
  margin: 0 40px 16px 0;
 }

.project .second{
  float: right;
  margin: 0 0 16px 40px;
 }

 .project h3 {
  margin-top: 0;
  padding-top: 15px;
 }

footer {
  background: #202020;
  height: 30px;
  color: #484848;
  text-align: center;
}

footer p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.row::before,
.row::after {
  display: block;
  content: "";
  clear: both;
}

.bg-skills,
.bg-contact {
  background: #171E2D url("subheader.png") 0 0 no-repeat;
}


.col-md-4 {
    width: 33.33333333%;
    padding: 0 15px;
    box-sizing: border-box;
}
.col-md-4 {
float: left;
}

.full-secion {
  width: 100%;
  padding: 0 60px;
}

.container {
  margin: 15px auto;
  /*background:#121212 url("subheader.png") 0 0 no-repeat;*/
}

.container::before,
.container::after {
  display: block;
  content: "";
  clear: both;
}

.title-three, .title-rd {
    color: #10C198;
}

.title-three {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  padding: 20px 0;
}

.text-three {
  font-size: 18px;
  text-align: center;
  padding-bottom: 40px;
}

.img-rd {
  margin: 0 auto;
  display: block;
}


.title-rd {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.text-rd {
  text-align: center;
  font-size: 18px;
}

.mywhite {
  color: #fff;
}

.title-main {
  color: #10C198;
  font-size: 80px;
  font-weight: 100;
  margin: 20px 0 30px 0;
}




.spear {
  margin-top: 50px;
}

.title-skill {
  font-size: 25px;
  color :#fff;
  text-align: left;
}

.bar-skill {
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
}

.icon-skill {
  height: 75px;
  text-align: center;
  padding-top: 44px;
}

.my-sixty {
  width: 60%;
}

.my-fiftyfive {
  width: 55%;
}

.my-thirty {
  width: 30%;
}

.my-green {
  background-color: #00CD98;
}

.this-skill {
  height: 20px;
}

.doblock {
    display: block;
    margin-top: 30px;
}

.wall-gallery {
    /*display: block;*/
    width: 100%;
    border-radius: 2px;
    transition: all .1s ease-in-out;
}

.icon-ct {
    color: #fff;
    font-size: 40px;
    padding-top: 4px;
    padding-right: 10px;
    width: 100%;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-map-marker:before {
    content: "\e062";
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
  .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }
  .container {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
      width: 970px;
  }

  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
  .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
    /*float: left;*/
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

media (min-width: 992px)
.col-md-6 {
    width: 50%;
}

