<div class="modal fade" id="callmeModal" tabindex="-1" aria-hidden="true" role="dialog" arial-labelledby="ModalCall" style="dispaly: block;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">x</span>
        </button>
        <h2 class="modal-title getmetelf" id="ModalCall">Get in touch with me</h2>
      </div>
      <div class="modal-body">
        <div class="myphone">
          <p class="greynum">+886</p>
          922 645 097
        </div>
        <div class="contacthours">
          <p class="hourcall">Contact hours</p>
          <div class="rightcall">
            <p class="dayscall">Mon - Fri</p>
            <p class="horario">9:00 - 22:00</p>
            <p class="dayscall">Sat - Sun</p>
            <p class="horario">10:00 - 18:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class = "modal fade" id = "portfolio-1" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Fish Hostel魚旅背包客棧 官網
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這是我在青旅當管家時所建的網站，由於當時的我完全不了解任何程式語言，所以只透過wordpress這個平台很陽春的建立。這個過程中學會了購買版型、根據設計圖排版、熟悉plugin、翻譯網站內容，開發的時間大約一個月。
            雖然開發時間大約是一個月，但卻因為雇主時常在國外，還有設計圖持續更改的原因，發生了好幾次網站砍掉重練的情況。這個網站實際上幾乎花了我5個多月，也佔據先前工作時大量的時間。在這個過程中因為體會到花了大量時間只學會使用工具，但卻完全沒有辦法掌握原理的痛苦後，也讓我下定決心開始學習程式語言。<br>註：這個網站目前似乎已經沒有在維護，所以有些plugin應該已經出現不相容的情況。
            </p>
         </div>
         <div class = "modal-footer">
          <a href="http://www.fishhosteltaipei.com" target="_blank" class="btn btn-default btn-lg active" role="button">網站</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class = "modal fade" id = "portfolio-2" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Launch School作業－Todo App
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這個Todo App是Launch School最後一堂後端課程的作業，而這個App主要是使用Sinatra所建立的，大約花了我2-3天完成（因為承接了上一份作業的內容，所以時間短了很多）。在先前雖然學了不少關於Ruby和SQL的知識，但始終不太理解換端要如何跟前端緊密結合。<br>而在完成這份作業的途中我也漸漸了解到後端的Ruby、SQL還有前端的HTML/CSS、JavaScript是如何一起作用，而這些知識也讓我開始有能力撰寫這份履歷。</p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/course_180/tree/master/sinatra_todos" target="_blank" class="btn btn-default btn-lg active" role="button">程式碼</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class = "modal fade" id = "portfolio-3" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Launch School作業－Todo App
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這個圈圈叉叉的程式，是Launch School的OOP課程中的一個作業，內容是把先前用prodedural方式寫的的code改寫成OOP的形式大約花了我2-3天完成。<br>在接觸到OOP的觀念之前，都是用procedural的方式在寫程式，雖然比較直觀和有彈性，但是隨著程式碼和架構越來越複雜，用原先的作法可能就不太恰當。而這個時候學到了可以透過OOP這個方式，降低程式碼撰寫的重複性和複雜性。</p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/lauchschool-work/blob/master/oop/oop_lesson5/ttt_bonus.rb" target="_blank" class="btn btn-default btn-lg active" role="button">程式碼</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class = "modal fade" id = "portfolio-4" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Launch School作業－Todo App
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這份作業裡面有24題的練習題，內容包含了Ruby、OOP還有test的觀念，全部大約花了我7天的時間。透過這幾題的練習題，讓我瞭解到撰寫程式的過程中，如何透過test來降低出錯的機率</p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/weekly_challenge" target="_blank" class="btn btn-default btn-lg active" role="button">程式碼</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class = "modal fade" id = "portfolio-5" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Launch School作業－21點
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這份作業是透過procedrual的方式完成，也是初學Ruby後最早接觸到比較複雜一點的程式。在這份作業中讓我學到最多的就是如何處理大量的loop、if else statement還有如何透過hash&array來儲存資料。雖然在撰寫的過程中有點痛苦，但真的讓我逐漸瞭解如何從零開始打造一個程式。</p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/lauchschool-work/blob/master/lesson_4/twenty_one_bonus.rb" target="_blank" class="btn btn-default btn-lg active" role="button">程式碼</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <div class = "modal fade" id = "portfolio-6" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   <div class = "modal-dialog">
      <div class = "modal-content">
         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               松田健康生活館（我們家） 官網
            </h4>
         </div> 
         <div class = "modal-body">
            <p>這個網站是我在2016年年初，為了測試一下先前所學的Growth Hack和landing page的一些知識，所以透過codecademy自學html/css後，所做出來的第一個網站。當時從零開始學，到作出這個靜態網站大概花了我100多個小時的時間。由於當時的我對於float issue、RWD、JavaScript都還不太熟練，甚至不知道有bootstrap這種東西，因此我只能土法煉鋼，硬是做出了這個網站，現在回頭看這個網站也是滿可怕的lol。<br>後來因為不知道如何做出contact form而卡關，還有因為即將就職的原因，所以就停止繼續開發這個網站。</p>
         </div>
         <div class = "modal-footer">
            <a href="https://github.com/jerrylin224/course_180/tree/master/sinatra_todos" target="_blank" class="btn btn-default btn-lg active" role="button">程式碼</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<header>
    <!-- Menu Navigation -->
  <div id="top" class="container">
    <!-- Menu left -->
    <nav id="ha-header" class="ha-header ha-header-show">
      <ul class="nav">
          <li class="dropdown">
            <!-- Dropdown menu -->
            <a class="dropdown-toggle circle-main" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">        
          <svg class="hello" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 15.5v2h20v-2H2zm0-5v2h20v-2H2zm0-5v2h20v-2H2z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
            </a>
            <!-- Navigation Sections -->
            <ul class="dropdown-menu">
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#top" class="menu-item wall">Hello</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#about" class="menu-item wall">About Me</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#skills" class="menu-item wall">Skills and Abilities</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#education" class="menu-item wall">Education</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#work" class="menu-item wall">Work Experience</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#portfolio" class="menu-item wall">Portfolio</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#download" class="menu-item wall">Social Networks</a></li>
          <li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#contacto" class="menu-item wall">Contact Me</a></li>
            </ul>
          </li>
        </ul>
    </nav>
    <!-- // Menu left -->

    <!-- Menu right - Hidden in small devices -->
    <div class="nav-extra hidden-xs">
      <!-- Button Contact Modal -->
      <a class="callme" href="#" data-toggle="modal" data-target="#portfolio-1">
        <span class="glyphicon glyphicon glyphicon-earphone call" aria-hidden="true"></span>
      </a>
      <!-- Button 'Hire me' -->
      <a class="hireme button-mywall" data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeOutQuint&quot; }" href="#contacto">Hire me now</a>
    </div>
    <!-- // Menu right -->
  </div>
  <!-- // Menu Navigation -->

  <!-- Personal Details -->
  <div class="container">
    <img class="img-circle imgsus" alt="Andrey Marin" src="/images/file.png">
    <h1 class="name-boss">林家弘</h1>
    <h2 class="main-details">Designer. Programmer. Creative. Innovator.</h2>
    <p class="extend-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
    <!-- // Personal Details -->
</header>
  <section class="full-section my-about">
    <article class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="title-main">關於我</h2>
          <p>在2016年年初結束在電商的實習之後，我就在想能不能透過什麼方式幫家中的事業導入更多的流量，所以就興起了幫家中架設一個簡單的靜態網站。<br>所以當時透過codecademy的課程自學加上實作，花了一百個小時左右架了人生第一個網站，雖然非常的陽春，但這也在我心中埋下了未來想要開發網站的種子。</p>
        </div>
        <div class="col-md-6">
          <img src="http://www.createyourownlives.com/wp-content/uploads/createyourownlives-start-a-startup-is-a-technic.jpg" style="max-width: 100%;"alt="" />
        </div>
      </div>
    </article>
  </section>
  <section id="aboutme" class="full-section">
    <!-- <div> -->
      <ul>
        <li data-toggle="tooltip" data-placement="bottom" title="在日本千葉大學交換一年期間，讓我擁有了一段非常美好的人生回憶，也讓我交到了許多來自不同國家的好朋友：）"><img src="/images/life-3.jpg"  alt="" /></li>
        <li data-toggle="tooltip" data-placement="bottom" title="大四時參加的工學院的計畫，讓我生平第一次踏上美帝的國土。也謝謝成大學長姐的導覽，讓我有機會一虧Google總部，還買了很多紀念品XD。"><img src="/images/life-4.jpg"  alt="" /></li>
        <li data-toggle="tooltip" data-placement="bottom" title="我家的肥貓'大仔'，雖然大隻但是叫聲卻很秀氣（可能是因為少了蛋蛋......），是隻很愛撒嬌和橫衝直衝的公貓。"><img src="/images/life-5.jpg"  alt="" /></li>
        <li data-toggle="tooltip" data-placement="bottom" title="人生第一次挑戰搭便車＆沙發衝浪。在日本交換生涯結束之前，我規劃從我所在的千葉縣，搭車前往北海道最北端。雖然最後因為一些因素只搭到青森就結束旅程，但我也很滿足了。"><img src="/images/life-1.jpg"  alt="" /></li>
        <li data-toggle="tooltip" data-placement="bottom" title="在大四寒假的時候我跑到菲律賓當了六個禮拜的國際志工，而這也是我生平第一次'一個人'出國的經驗（雖然我後來發現我的夥伴有一大堆中國人跟台灣人，一點都不“異國”XD）。" > <img src="/images/life-2.jpg"  alt="" /></li>
      </ul>
    <!-- </div> -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title-three">關於我</h3>
          <p class="text-three">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>
        </div>
        <div class="col-md-4">
          <img class="img-rd" src="http://izee.ro/market/mywall/one-plus/img/programmer.png" alt="全端工程師"/>
          <h3 class="title-rd">全端工程師</h3>
          <p class="text-rd">買書免錢 • 教育訓練、研討會 • 年終獎金 • 人才推薦獎金 • 專案獎金 • 部門 team building • 勞保、健保、退休金 不規定上下班時間 可自由在家工作</p>
        </div>
         <div class="col-md-4">
          <img class="img-rd" src="http://izee.ro/market/mywall/one-plus/img/brain.png" alt="寫作者" />
          <h3 class="title-rd">寫作者</h3>
          <p class="text-rd">重點不是花錢 重點在於用心 20 • 每季慶生會 • 每季電影會 • 每月下月茶 • 月會早餐 • 三節禮金 • 同儕推薦獎金 • 健康檢查 •</p>
        </div>
         <div class="col-md-4">
          <img class="img-rd" src="http://izee.ro/market/mywall/one-plus/img/rocket.png" alt="創業家"/>
          <h3 class="title-rd">創業家</h3>
          <p class="text-rd">重點不是花錢 重點在於用心 20 • 每季慶生會 • 每季電影會 • 每月下月茶 • 月會早餐 • 三節禮金 • 同儕推薦獎金 • 健康檢查 •</p>
        </div>
      </div>
    </div>
  </section>
  <section id="skills" class="full-section-two bg-skills">
    <div class="container">
      <h2 class="title-main mywhite">技能和能力</h2>
      <p class="text-main mywhite">在這裡，我們專注於如何創造人生，並包括寫作、思考、程式、開創財富等技能提升首頁</p>
    
      <div class="row">
        <div class="col-md-6 spear">
          <div class="row">
            <div class="hidden-xs col-sm-2 icon-skill">
              <img src="http://izee.ro/market/mywall/one-plus/img/html5.png" alt="html 5" />
            </div>
            <div class=" col-sm-10">
              <div class="row">
                <div class="col-sm-12 title-skill">HTML5</div>
                <div class="col-sm-12 bar-skill">
                  <div class="this-skill my-green my-sixty"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 spear">
          <div class="row">
            <div class="hidden-xs col-sm-2 icon-skill">
              <img src="http://izee.ro/market/mywall/one-plus/img/css3.png" alt="css 3" />
            </div>
            <div class=" col-sm-10">
              <div class="row">
                <div class="col-sm-12 title-skill">CSS3</div>
                <div class="col-sm-12 bar-skill">
                  <div class="this-skill my-green my-fifty"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 spear">
          <div class="row">
            <div class="hidden-xs col-sm-2 icon-skill">
              <img src="/images/ruby_1.png" alt="ruby" />
            </div>
            <div class=" col-sm-10">
              <div class="row">
                <div class="col-sm-12 title-skill">Ruby</div>
                <div class="col-sm-12 bar-skill">
                  <div class="this-skill my-green my-fiftyfive"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 spear">
          <div class="row">
            <div class="hidden-xs col-sm-2 icon-skill">
              <img src="http://izee.ro/market/mywall/one-plus/img/js.png" alt="javascript" />
            </div>
            <div class=" col-sm-10">
              <div class="row">
                <div class="col-sm-12 title-skill">JavaScript</div>
                <div class="col-sm-12 bar-skill">
                  <div class="this-skill my-green my-thirty"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 spear">
          <div class="row">
            <div class="hidden-xs col-sm-2 icon-skill">
              <img src="/images/psql.png" alt="psql" />
            </div>
            <div class=" col-sm-10">
              <div class="row">
                <div class="col-sm-12 title-skill">PSQL</div>
                <div class="col-sm-12 bar-skill">
                  <div class="this-skill my-green my-fifty"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 spear">
          <div class="row">
            <div class="hidden-xs col-sm-2 icon-skill">
              <img src="/images/psql.png" alt="jquery" />
            </div>
            <div class=" col-sm-10">
              <div class="row">
                <div class="col-sm-12 title-skill">jQuery</div>
                <div class="col-sm-12 bar-skill">
                  <div class="this-skill my-green my-fifty"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container cont-mg">
      <div class="row">
        <div class="col-md-4">
          <div class="cont-ab">
            <h4 class="title-four color-a">語言及其他技能</h4>
          </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </section>
  <section id="education" class="full-section">
<!-- Text Education -->
<div class="container">
  <h2 class="title-main">教育程度</h2>
  <p class="text-main">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<!-- Timeline Responsive -->
<article id="cd-timeline" class="cd-container">
  <!-- 1 Item -->
  <div class="cd-timeline-block">
    <!-- Circle image 64x64 -->
    <div class="cd-timeline-img my-green">
      <img src="http://izee.ro/market/mywall/one-plus/img/ed1.png" alt="Engineering">
    </div>
    <!-- Info 1 Education -->
    <div class="cd-timeline-content">
      <h2>J-PAC計畫交換生</h2>
      <h3>千葉大學</h3>
      <span class="cd-date">2013 - 2014</span>
    </div>
  </div>
  <!-- 2 Item -->
  <div class="cd-timeline-block">
    <!-- Circle image 64x64 -->
    <div class="cd-timeline-img my-green">
      <img src="http://izee.ro/market/mywall/one-plus/img/ed2.png" alt="Science">
    </div> 
    <!-- Info 2 Education -->
    <div class="cd-timeline-content">
      <h2>環境工程學系</h2>
      <h3>成功大學</h3>
      <span class="cd-date">2009 - 2013</span>
    </div> 
  </div> 
  <!-- 3 Item -->
  <div class="cd-timeline-block">
    <!-- Circle image 64x64 -->
    <div class="cd-timeline-img my-green">
      <img src="http://izee.ro/market/mywall/one-plus/img/ed3.png" alt="Bachelor">
    </div>
    <!-- Info 3 Education -->
    <div class="cd-timeline-content">
      <h2>Bachelor Degree of Mobile and Web Design</h2>
      <h3>屏東高中</h3>
      <span class="cd-date">2006 - 2009</span>
    </div> 
  </div> 
  <!-- The Beginning of Times image -->
  <div class="cd-timeline-block">
    <!-- Circle image 64x64 -->
    <div class="cd-timeline-img my-green">
      <img src="http://izee.ro/market/mywall/one-plus/img/ed4.png" alt="Times">
    </div> 
  </div>
</article>
<!-- The Beginning of Times item -->
<p class="txt-times">誕生於<br>西元1991</p>
</section>
  <section id="work" class="full-section-two bg-work">
<!-- Text Work Experience -->
<div class="container">
  <h2 class="title-main mywhite">工作經驗</h2>
  <p class="text-main mywhite">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<!-- Work -->
<div class="container cont-mg">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab" aria-expanded="false">Google</a></li>
      <li role="presentation" class=""><a href="#2" role="tab" data-toggle="tab" aria-expanded="false">Fish Hostel魚旅背包客棧</a></li>
      <li role="presentation" class=""><a href="#3" role="tab" data-toggle="tab" aria-expanded="false">土女時代</a></li>
      <li role="presentation" class=""><a href="#4" role="tab" data-toggle="tab" aria-expanded="false">國軍</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Tab 1 -->
      <div role="tabpanel" class="tab-pane fade active in" id="1">
        <h3 class="title-wk">Front End Web Developer</h3>
      <p class="wk-company">Google Inc.</p>
      <p class="text-wk">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. <br> Duis aute irure dolor in reprehenderit in voluptate velit.</p>
      <p class="wk-date">2014 - 2015</p>
      </div>
      <!-- Tab 2 -->
      <div role="tabpanel" class="tab-pane fade" id="2">
        <h3 class="title-wk">管家（包山包海）</h3>
        <p class="wk-company">Fish Hostel魚旅背包客棧</p>
      <p class="text-wk">Duis aute irure dolor in reprehenderit in voluptate velit. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
      <p class="wk-date">2016.3 - 2016.8</p>
      </div>
      <!-- Tab 3 -->
      <div role="tabpanel" class="tab-pane fade" id="3">
        <h3 class="title-wk">電商行銷實習生</h3>
      <p class="wk-company">土女時代</p>      
      <p class="text-wk">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. <br> Duis aute irure dolor in reprehenderit in voluptate velit.</p>
      <p class="wk-date">2015.10 - 2015.12</p>
      </div>
      <!-- Tab 4 -->
      <div role="tabpanel" class="tab-pane fade" id="4">
        <h3 class="title-wk">班機兵兼政戰文書（還債）</h3>
        <p class="wk-company">564旅機步二營步二連</p>
        <p class="text-wk">Duis aute irure dolor in reprehenderit in voluptate velit. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <p class="wk-date">2014.10 - 2015.10</p>
      </div>
    </div>
    <!-- // Tab panes -->
  </div>
<!-- // Work -->
</section>
<section id="portfolio" class="full-section">
  <div class="container">
    <h2 class="title-main">作品集</h2>
    <p class="text-main">在這裡收集了我先前工作時用wordpress建的網站、去年從零自學html/css後幫家裡建的官網，還有好幾份Launch School的作業。如果想要了解更多內容，可以點擊圖片看介紹還有到repo看程式碼。</p>
  </div>
  <div class="container">
    <ul class="row wall-portfolio">
      <li class="col-md-4 doblock">
        <a href="#" data-toggle = "modal" data-target = "#portfolio-1">
          <img class="wall-gallery" src="/images/作品集-1.png">
        </a>
      </li>
      <li class="col-md-4 doblock">
        <a href="#" data-toggle = "modal" data-target = "#portfolio-2">
          <img class="wall-gallery" src="/images/作品集-2.png">
        </a>
      </li>
      <li class="col-md-4 doblock">
        <a href="#" data-toggle = "modal" data-target = "#portfolio-3">
          <img class="wall-gallery" src="/images/作品集-3.png">
        </a>
      </li>            
      <li class="col-md-4 doblock">
        <a href="#" data-toggle = "modal" data-target = "#portfolio-4">
          <img class="wall-gallery" src="/images/作品集-4.png">
        </a>
      </li>            
      <li class="col-md-4 doblock">
        <a href="#" data-toggle = "modal" data-target = "#portfolio-5">
          <img class="wall-gallery" src="/images/作品集-5.png">
        </a>
      </li>
      <li class="col-md-4 doblock">
        <a href="#" data-toggle = "modal" data-target = "#portfolio-6">
          <img class="wall-gallery" src="/images/作品集-6.png">
        </a>
      </li>
    </ul>
  </div>
</section>
<section id="contacto" class="full-section-three bg-contact">
  <div class="container">
    <!-- Title Contact me -->
    <h1 class="title-ct">聯絡我</h1>
    <p class="separator-ct"></p>
    <!-- Localization -->
    <div class="row">
      <div class="col-md-6 col-xs-12 txt-center">
        <p class="icon-ct glyphicon glyphicon-map-marker"></p>
        <p class="text-ct">居住地： <b>屏東市</b></p>
      </div>
      <!--Mail -->
      <div class="col-md-6 col-xs-12 txt-center">
        <p class="icon-ct glyphicon glyphicon-send"></p>
        <p class="text-ct">pk60905@gmail.com</p>
      </div>
    </div>
  </div>
  <!-- Contact Form -->
  <article class="container cntme">
    <form method="post" action="/contact" id="ContactForm" name="ContactForm" class="validate-form">
      <!-- Form inputs -->
      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <input type="text" class="form-control ct-name" name="name" id="name" placeholder="姓名" required="">
        </div>
        <div class="form-group col-md-6 col-md-offset-3">
          <input type="email" class="form-control ct-mail" name="email" id="email" placeholder="信箱" required="">
        </div>
        <div class="form-group col-md-6 col-md-offset-3">
          <textarea class="form-control ct-message" rows="6" name="message" id="message" placeholder="Write anything here..." required=""></textarea>
        </div>
      </div>
      <!-- Button Send -->
      <div class="row">
        <div class="form-group col-md-6 col-md-offset-3">
          <div id="successmsg"></div>
          <button type="submit" name="button" id="button" class="btn btnc2 with-br btn-ctc"><span>Send Now</span></button>
        </div>
      </div>
    </form>
  </article>
  <!-- // Contact Form -->
</section>
<footer class="full-footer">
  <div class="container padding-footer">
    <div class="row">
      <!-- Text Left -->
      <div class="col-sm-8 foo-left">This is my personal resume and I hope you enjoyed it. See you soon. <br> Andrey Marin.</div>
      <!-- Text Right -->
      <div class="col-sm-4 foo-right"><a href="https://github.com/jerrylin224/resume" target="_blank">原始碼</a></div>
    </div>
  </div>
</footer>