<!doctype html>
<html lang="zh">
  <head>
    <title>林家弘的resume</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" >
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <script src="javascripts/tether.min.js"></script>
    <script src="javascripts/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/resume.js"></script>
   
  </head>
  <body>
    <%== yield %>
  </body>
</html>

<% content_for :modal_1 do %>
  <p>這是我在青旅當管家時所建的網站，由於當時的我完全不了解任何程式語言，所以只透過wordpress這個平台很陽春的建立。這個過程中學會了購買版型、根據設計圖排版、熟悉plugin、翻譯網站內容，開發的時間大約一個月。雖然開發時間大約是一個月，但卻因為雇主時常在國外，還有設計圖持續更改的原因，發生了好幾次網站砍掉重練的情況。這個網站實際上幾乎花了我5個多月，也佔據先前工作時大量的時間。在這個過程中因為體會到花了大量時間只學會使用工具，但卻完全沒有辦法掌握原理的痛苦後，也讓我下定決心開始學習程式語言。<br>註：這個網站目前似乎已經沒有在維護，所以有些plugin應該已經出現不相容的情況。
  </p>
<% end %>

<% content_for :modal_2 do %>
  <p>這個Todo App是Launch School最後一堂後端課程的作業，而這個App主要是使用Sinatra所建立的，大約花了我2-3天完成（因為承接了上一份作業的內容，所以時間短了很多）。在先前雖然學了不少關於Ruby和SQL的知識，但始終不太理解換端要如何跟前端緊密結合。<br>而在完成這份作業的途中我也漸漸了解到後端的Ruby、SQL還有前端的HTML/CSS、JavaScript是如何一起作用，而這些知識也讓我開始有能力撰寫這份履歷。</p>
<% end %>

<% content_for :modal_3 do %>
  <p>這個圈圈叉叉的程式，是Launch School的OOP課程中的一個作業，內容是把先前用procedural方式寫的的code改寫成OOP的形式大約花了我2-3天完成。<br>在接觸到OOP的觀念之前，都是用procedural的方式在寫程式，雖然比較直觀和有彈性，但是隨著程式碼和架構越來越複雜，用原先的作法可能就不太恰當。而這個時候學到了可以透過OOP這個方式，降低程式碼撰寫的重複性和複雜性。</p>
<% end %>

<% content_for :modal_4 do %>
  <p>這份作業裡面有24題的練習題，內容包含了Ruby、OOP還有test的觀念，全部大約花了我7天的時間。透過這幾題的練習題，讓我瞭解到撰寫程式的過程中，如何透過test來降低出錯的機率。</p>
<% end %>

<% content_for :modal_5 do %>
  <p>這份作業是透過procedural的方式完成，也是初學Ruby時接觸到比較複雜的程式。在這份作業中讓我學到最多的就是如何處理大量的loop、if else statement還有如何透過hash&array來儲存資料。雖然在撰寫的過程中有點痛苦，但真的讓我逐漸瞭解如何從零開始打造一個程式。</p>
<% end %>

<% content_for :modal_6 do %>
  <p>這個網站是我在2016年年初，為了測試先前所學的Growth Hack和landing page的知識，透過codecademy自學html/css後，所做出來的第一個網站。當時從零開始學，到作出這個靜態網站大概花了我100多個小時的時間。由於當時的我對於float issue、RWD、JavaScript都還不太熟練，甚至不知道有bootstrap這種東西，因此我只能土法煉鋼，硬是做出了這個網站。而現在回頭看這個網站也是滿可怕的lol。<br>後來因為不知道如何做出contact form而卡關，還有因為即將就職的原因，所以就停止繼續開發這個網站。</p>
<% end %>