<section>
  <article class="message">
    <h1 class="title-thanks">
      謝謝你的來信!
      <img class="checked-logo" src="../images/checked.png" style="width:15%;" alt="確認收到來信"/>
    </h1>
    <p class="lead">已經收到你的訊息囉，我會在24小時內回覆。<br>
      若是有急事也可以在每天的早上9點－下午6點間撥打我的手機。<br><br>電話：
      <span class="glyphicon glyphicon-phone"></span>
      <a href="tel:+13174562564"> 0922-645-097</a>
    </p>
    <div class="row personal-blog">
      <p class="lead">不急著走嗎？有興趣的話看看我的個人部落格還有技術部落格吧：</p>
      <ul>
        <li>
          <a class="btn btn-success btn-lg" href="http://www.createyourownlives.com/" target="_blank" role="button">個人部落格</a>
        </li>
        <li>
          <a class="btn btn-primary btn-lg" href="http://medium.com/@pk60905/" target="_blank" role="button">技術部落格</a>
        </li>
      </ul>
    </div>
  </article>
</section>