/*@import url("reset.css");*/

* {
  box-sizing: border-box;
}

body {
   font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}


.callme {
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    padding-top: 13px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    height: 62px;
    color: rgba(255,255,255,.47);
    text-align: center;
    z-index: 2;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255,255,255,.47);
    border-radius: 50%;
    position: static;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.callme:active:hover, .callme:focus:hover, .callme:hover {
    color: #FFF;
    background: #202648;
    border-color: rgba(255,255,255,.3);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    cursor: pointer;
}

.callme:active:hover, .callme:focus:hover, .callme:hover {
    color: #FFF;
    background: #0CD2A4;
    border-color: #0CD2A4;
}

.glyphicon.glyphicon.glyphicon-earphone.call {
    top: 0;
}

.glyphicon-earphone:before {
    content: "\e182";
}

.button-mywall {
    background: rgba(236, 8, 86, 0);
    border: 2px solid #0CD2A4;
}

.button-mywall {
    /*background: #EC0856;*/
    color: #FFF;
    border-radius: 50px;
    font-weight: 400;
    font-size: 22px;
    margin-left: 15px;
    padding-right: 25px;
    padding-left: 25px;
    line-height: 58px;
    margin-bottom: 10px;
    /*border: 2px solid #EC0856;*/
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-decoration: none;
    display: inline-block;
}

.button-mywall:active, .button-mywall:hover {
    color: #FFF;
    background: #0CD2A4;
    border-color: #0CD2A4;
}


.nav-extra {
    float: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

h1.name-boss {
    font-size: 100px;
    color: #fff;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: 0 2px rgba(0,0,0,.2);
}

header {
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #171E2D url("subheader.png") 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding-top: 51px;
    padding-bottom: 40px;
}




.ha-header {
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}



.nav>li {
    position: relative;
    display: block;
}

.dropdown-toggle.circle-main, .dropdown-toggle.circle-main:focus {
    border-radius: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0);
    width: 60px;
    text-align: center;
    padding-top: 11px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    border: 2px solid #FFF;
    -webkit-transition: all .3s;
    transition: all .3s;
}


.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
}

.hello {
    fill: #FFF;
}

#aboutme ul {
  font-size: 0;
}

#aboutme ul li {
  display: inline-block;
  width: 19%;
  margin-right: 10px;
}

#aboutme li img {
  width: 100%;
}

.column {
  width: 1000px;
  margin: 0 auto;
}
 article {
  /*padding: 30px 200px;*/
  /*margin: 0 auto;*/
 }
#name {
  text-align: center;
}

 article img {
  display: block;
  margin: 0 auto;
 }

article .social_link {
  text-align: center;
  /*width: 300px;*/
  padding: 0;
}

article a, 
article a:visited {
  color: inherit;
}

article .social_link li {
  display: inline-block;
  padding: 0 12px;
}

article .fa {
  font-size: 2em;
  /*padding: 0 10px;*/
 }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.education{
  display: none;
 }

 #taiwan:hover .education,
 #japan:hover .education {
  display: block;
 }

 .project::before,
 .project::after {
  content: "";
  display: block;
  clear: both;
 }

.project .first,
.project .second,
.project .third {
  border: 1px solid #000;
}

 .project .first{
  float: left;
  margin: 0 40px 16px 0;
 }

.project .second{
  float: right;
  margin: 0 0 16px 40px;
 }

 .project h3 {
  margin-top: 0;
  padding-top: 15px;
 }

footer {
  background: #202020;
  height: 30px;
  color: #484848;
  text-align: center;
}

footer p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.row::before,
.row::after {
  display: block;
  content: "";
  clear: both;
}

.bg-skills,
.bg-contact {
  background: #171E2D url("subheader.png") 0 0 no-repeat;
}


.col-md-4 {
    width: 33.33333333%;
    padding: 0 15px;
    box-sizing: border-box;
}
.col-md-4 {
float: left;
}

.full-secion {
  width: 100%;
  padding: 0 60px;
}

.container {
  margin: 15px auto;
  /*background:#121212 url("subheader.png") 0 0 no-repeat;*/
}

.container::before,
.container::after {
  display: block;
  content: "";
  clear: both;
}

.title-three, .title-rd {
    color: #10C198;
}

.title-three {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  padding: 20px 0;
}

.text-three {
  font-size: 18px;
  text-align: center;
  padding-bottom: 40px;
}

.img-rd {
  margin: 0 auto;
  display: block;
}


.title-rd {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.text-rd {
  text-align: center;
  font-size: 18px;
}

.mywhite {
  color: #fff;
}

.title-main {
  color: #10C198;
  font-size: 80px;
  font-weight: 100;
  margin: 20px 0 30px 0;
}




.spear {
  margin-top: 50px;
}

.title-skill {
  font-size: 25px;
  color :#fff;
  text-align: left;
}

.bar-skill {
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
}

.icon-skill {
  height: 75px;
  text-align: center;
  padding-top: 44px;
}

.my-sixty {
  width: 60%;
}

.my-fiftyfive {
  width: 55%;
}

.my-thirty {
  width: 30%;
}

.my-green {
  background-color: #00CD98;
}

.this-skill {
  height: 20px;
}

.doblock {
    display: block;
    margin-top: 30px;
}

.wall-gallery {
    /*display: block;*/
    width: 100%;
    border-radius: 2px;
    transition: all .1s ease-in-out;
}

.icon-ct {
    color: #fff;
    font-size: 40px;
    padding-top: 4px;
    padding-right: 10px;
    width: 100%;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-map-marker:before {
    content: "\e062";
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
  .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }
  .container {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
      width: 970px;
  }

  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
  .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
    /*float: left;*/
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

media (min-width: 992px)
.col-md-6 {
    width: 50%;
}

